@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');

body {

background-color: #FFE5B455;

}

.popreview {

font-family:"koh santepheap";
font-weight: bolder;
font-size: 20px;

letter-spacing: 2px;

position:relative;
left:50px;

}