#right {
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
    width: 70%;
    background-color:  rgba(255, 229, 180, 0.2);
}

#title {
    font-weight: bold;

    color: black;
    text-align: left;
    font-size: 50px;
    padding-left: 60px;
    padding-top: 10px;
}
#dystopiandreams{
    color: black;
    text-align: left;
    font-size: 20px;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 0px;
}
#h4{
    color: black;
    text-align: left;
    font-size: 20px;
   padding-left: 60px;
}
