#left {
    position:absolute;
    right:0px;
    top:0px;
    bottom:0px;
    width: 30%;
    background-color:  rgba(248, 140, 167, 0.2);
    color:white;
   
}

ul[title]::before {
    content: attr(title);
    
    font-weight: bold;

    color: black;
    text-align: center;
    font-size: 30px;
     
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    height: 100vh;
}

li{
   
    color: black;
    text-align: center;
   font-size: 20px;
   
}